* {
margin: 0;
padding: 0;
}

/*Homepage*/

main {
    background-color: #00b9ae;
    text-align: center;
}

header, footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: #5f6a58;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 130%;
    margin: 0px;
    position: relative;
    left: -175px;
    font-size: larger;
}

li {
    margin: 10px;
    display: block;
}


body {
    font-size: larger;
    font-family: Arial, Helvetica, Georgia;
    background-color: #3d82c3;
}

a {
    color: #fff;
    font-size: larger;
    text-decoration: none;
}

nav a:hover {
    display: block;
    color: #fff;
    background-color: #c96100;
}


footer a {
    position: relative;
    left: 200px;
}

span {
    position: relative;
    left: 50px;
    font-size: medium;

}

main,header,footer {
    border: 1px solid #5f6a58;
    padding: 0px;
    justify-content: center;
}

footer {
    color: #fff;
}

h2 {
    box-sizing: border-box;
}

.page h1 {
    display: none;
}

.page {
    max-width: 1000px;
    margin: 0 auto; ;
}

.hook {
    display: grid;
}

.banner img{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.banner {
    width: 100%;
    grid-column: 1/3;
}

.firstsection {
    grid-column: 1/2;
    text-align: center;
    padding: 2rem;
    margin: auto;
}

.firstsectionpic {
    grid-column: 2/3;
    padding: 1rem 0px;
    margin: auto;
}

.secondsection {
    grid-column: 2/3;
    text-align: center;
    padding: 2rem;
    margin: auto;
}

.secondsectionpic {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 1rem 0px;
    margin:auto;
}

.summary {
    grid-column: 1/4;
    text-align: center;
    padding: 1rem;
    margin: auto;
}

.hook h2 {
    box-sizing: content-box;
    border: solid #5f6a58;
    background-color: #c96100;
}

.hero {
    position: relative;
}

.cta {
    position: absolute;
    bottom: 15%;
    right: 10%;
    font-size: large;
    color: #fff;
    background-color:#5f6a58;
    border:solid 2px #fff;
    opacity: .8;
}

.hero a {
    display: block;
    padding: 1rem;
}

.hero a:hover {
    display: block;
    color:#fff;
    background-color: #c96100;
}

/*Tripspage*/


.trips main,header,footer {
    border: 1px solid #5f6a58;
    justify-content: center;
}

.trips header ul {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 130%;
    margin: 50px;
    position: relative;
    font-size: larger;
    justify-content: left;
    gap: 6rem;
    left: -26rem;
}


.trips main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trips ul {
    justify-content: center;
}

.trips h1 {
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 1/2;
}

.trips h2{
    border:1px solid #5f6a58;
    background-color: #c96100;
    padding-left: 1rem;
}

.trips {
    max-width: 1500px;
    margin: 0 auto;
}

.trips p {
    padding: 1rem 1rem 0rem 1rem;
}

.package1 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    margin: 1rem;
    width: 95%;
    border: solid 1px #5f6a58;
    justify-self: center;
    box-shadow: #5f6a58 1px 1px 3px;
}

.package2 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    margin: 1rem 2rem 1rem 1rem;
    width: 100%;
    border: solid 1px #5f6a58;
    justify-self: center;
    box-shadow: #5f6a58 1px 1px 3px;
}

.package3 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
    margin: 0rem 1rem 1rem 1rem;
    width: 110%;
    border: solid 1px #5f6a58;
    box-shadow: #5f6a58 1px 1px 3px;
}

.package4 {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: left;
    margin: 0rem 1rem 1rem 1rem;
    width: 110%;
    border: solid 1px #5f6a58;
    box-shadow: #5f6a58 1px 1px 3px;
}

.adventure {
    grid-column: 2/3;
    grid-row: 3/5;
}

.adventure img {
    width: 80%;
    height: 80%;
    padding-top: 3rem;
    padding-left: 6rem;
    filter: drop-shadow(5px 5px 10px);
}

/*Tripspage end*/

/*Contact page*/
/*Contact page end*/