/* Universally used CSS */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    font-size: 1.5rem;
    padding: 2rem;
}

span {
    color: #edb232;
}

header img {
    width: 18rem;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    font-size: 30px;
}

nav ul li {
    width: 25rem;
}

body {
    font-family: Georgia, Helvetica, Arial;
}

nav a {
    color: #edb232;
    font-size: larger;
}

a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    display: block;
    color: #394c64;
    background-color: #edb232;
    }

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
  }

.shadow {
    box-shadow: 3px 3px 8px #394c64;
}

.bg-blue {
 background-color: #394c64;
}

.bg-orange {
    background-color: #DE6920;
}

.bg-creme {
    background-color: #e8e3d6;
}

.b-blue {
    border: 1px solid #394c64;
}

.margin-1 {
    margin: 1rem;
}

.text-center {
    text-align: center;
}

.content-center {
    justify-content:center ;
}

.mediumfont {
    font-size: 30px;
}

.text-justify {
    text-align: justify;
    margin-left: 32%;
}

.f-left {
    float: left;
}

.max-width {
    max-width: 1900px;
    margin: auto;
}

.coming-soon {
    height: 60%;
}

.sad-kitty-style {
    width: 20%;
    margin: 2rem;
}
/* Universally used CSS end*/

/* Page specific CSS */
.card {
    width: 400px;
    border-radius: 20px;
    margin: 5rem;
    padding: 1rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonstyle {
    border-radius: 2rem;
    border-width: 1px;
    border-color: #DE6920;
    background-color: #394c64;
    font-size: 1.5rem;
    color: #edb232;
}

.card img {
    width: 400px;
    box-shadow: 1px 1px 5px 1px #394c64; 
     

}

.founder {
    width: 35%;
}

.founder img{
    width: 25rem;
}
/* Page specific CSS end*/

/* Siteplan specific CSS*/
.colorpallete img {
    width: 50%;
    filter: drop-shadow(8px 8px 10px #394c64);
}