* {
    margin: 0;
    padding: 0;
}

/*Homepage*/

main {
    background-color: #e8e3d6;
    padding: 3rem;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
    padding: 1rem;
}

p {
    font-size: 25px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    font-size: 1.5rem;
    padding: 2rem;
}

span {
    color: #edb232;
}

header img {
    width: 18rem;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    font-size: 30px;
      

}

nav ul li {
    width: 25rem;
}



body {
    font-family: Georgia, Helvetica, Arial;
}

nav a {
    color: #edb232;
    font-size: larger;
}

a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    display: block;
    color: #394c64;
    background-color: #edb232;
}

.colorpallete img {
    width: 50%;
    filter: drop-shadow(8px 8px 10px #394c64);
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.design p{
    padding: .5rem;
}

/*Homepage end*/

/*Breeds*/


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
  }

.card {
    width: 400px;
    border-radius: 20px;
    margin: 5rem;
    padding: 1rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 20rem;
    box-shadow: 1px 1px 5px 1px #394c64; 
     
}

.shadow {
    box-shadow: 2px 2px 5px #394c64;
}

.bg-white {
    background-color: #f4f3ef;
}

.bg-blue {
 background-color: #394c64;
}

.bg-orange {
    background-color: #DE6920;
}

.b-blue {
    border: 1px solid #394c64;
}

.margin-17 {
    margin: 17rem;
}

.text-center {
    text-align: center;
}

.content-center {
    justify-content:center ;
}

.mediumfont {
    font-size: 30px;
}

/*Breeds*/

/*About Us*/